<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JSON Get Sample</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.9/angular-resource.min.js"></script>

    <script>
        /** API設定 */
        VORTOJ_ROOT = 'https://localhost:3000';
        SAMPLE_SOCKET_URL = VORTOJ_ROOT + '/sample/';
        DEFAULT_VORTOJ_URL = VORTOJ_ROOT + '/api/packet/:id?id=';
        RECENT_VORTOJ_URL = VORTOJ_ROOT + '/api/packet/new';

        DEMO_GET_URL = './data/dummy_get.json';
        DEMO_Q_URL = './data/dummy_query.json';

        var module = angular.module('dashboard', ['ngResource']);

        module.factory('GetJson', function ($resource) {

            var res = $resource(DEMO_GET_URL);

            return {
                all: function () {
                    return res.get();
                }
            };
        });

        module.controller('DashCtrl', function ($scope, GetJson) {
            $scope.items = GetJson.all();
            console.log($scope.items);
        });

        var testApp = angular.module('testApp', []);

        testApp.controller('testController' , function ($scope, $http) {
            $scope.home = "This is the homepage";

            $scope.getRequest = function () {
                console.log("I've been pressed!");
                $http.get("http://urlforapi.com/get?name=Elliot")
                    .then(function successCallback(response){
                        $scope.response = response;
                    }, function errorCallback(response){
                        console.log("Unable to perform get request");
                    });
            };

        });

        /**
         module.service('DashServ', function ($resource, $timeout, $q) {
            this.vortoj = function () {
                //return $resource(RECENT_VORTOJ_URL).get().$promise;
                return $resource(DEMO_GET_URL).get().$promise;
                //return $resource(DEMO_Q_URL).query().$promise;
            };
        });

         module.controller('DashCtrl', function (DashServ, $scope) {

            // Vortoj
            var self = this;
            self.masterdata = [];
            DashServ.vortoj().then(function (ret) {
                self.masterdata["sechack"] = ret;
                console.log(self.masterdata);
            });

            // 画面から呼び出し
            $scope.vortoj = function () {
                return self.masterdata["sechack"];
            }
        })
         */


    </script>

</head>

<body ng-app="testApp">
<div class="container" ng-controller="testController">
<!--
    <ul>
        <li ng-repeat="d in vortoj()">{{d}}</li>
    </ul>
-->
<!--
    <table class="table">
        <tr ng-repeat="item in items">
            <td>{{item.ID}}</td>
        </tr>
    </table>
-->

    <button ng-click="getRequest()">Test Rest</button>
</div>

</body>
</html>